{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> {% block title %} Invoices {% endblock title %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block extrahead %}
        {% endblock extrahead %}
    </head>
    <body>
        <header>
            <ul class="nav-menu">
                <li> <a href="/home"> Home </a> </li>
                <li><a href="/invoice">Invoices</a></li>
                <li><a href="/supplier">Suppliers</a></li>
            </ul>
        </header>
        <main>
            {% block main_content %}
            {% endblock main_content %}
        </main>
    </body>
</html>